# Setup

### Import dependencies

In [1]:
import pandas as pd
import csv
import datetime

### Set file locations

In [2]:
# file locations for import
# raw_data_file = "../00_data/raw_data/a70414_finishers.csv" # 2007 Brooklyn Half
# raw_data_file = "../00_data/raw_data/19nyc60_finishers.csv" # 2019 NYC 60K
raw_data_file = "../00_data/raw_data/20WH5K_finishers.csv" # 2020 Washington Heights 5K

# file locations for export

# Import Data

### Import data from csv

In [3]:
df = pd.read_csv(raw_data_file)

In [4]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4942 entries, 0 to 4941
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   4942 non-null   object
 1   geo_subregion          4936 non-null   object
 2   country                4942 non-null   object
 3   gender                 4942 non-null   object
 4   age                    4942 non-null   int64
 5   bib                    4942 non-null   int64
 6   official_time          4941 non-null   object
 7   pace_per_mile          4941 non-null   object
 8   place_overall          4941 non-null   object
 9   place_gender           4941 non-null   object
 10  age_group              4941 non-null   object
 11  place_age-group        4941 non-null   float64
 12  country_group          4937 non-null   object
 13  place_country          4941 non-null   object
 14  place_age‐graded       4941 non-null   object
 15  time_age‐graded        4941 non-null   object
 16  percentage_age‐graded  4942 non-null   object
 17  gun_time               4941 non-null   object
 18  gun_place              4941 non-null   float64
 19  team                   2255 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 772.3+ KB

In [5]:
if df.columns[0] == 'Unnamed: 0':
    df = df.drop(df.columns[0], axis=1)
df

,name,geo_subregion,country,gender,age,bib,official_time,pace_per_mile,place_overall,place_gender,age_group,place_age-group,country_group,place_country,place_age‐graded,time_age‐graded,percentage_age‐graded,gun_time,gun_place,team
0,Chui Wong,"Whitestone, NY",USA,F,35,1308,0:38:09,12:17,"4,417","2,054",35-39,300.0,USA,"3,684","2,195",0:37:54,38.98%,0:55:00,4490.0,NaN
1,Gregory Aston,"New York, NY",USA,M,51,4638,0:28:18,09:07,"2,634","1,732",50-54,152.0,USA,"2,105","1,568",0:24:43,52.55%,0:34:30,2290.0,NaN
2,Jonathan Byrne,"New York, NY",USA,M,43,4629,0:22:19,07:11,906,739,40-44,112.0,IRL,4,742,0:20:42,62.77%,0:23:05,706.0,Full Throttle Endurance Racing
3,Madeline Pies,"New York, NY",USA,F,29,2860,0:37:10,11:58,"4,330","1,997",25-29,329.0,USA,"3,603","2,161",0:37:10,39.74%,0:47:56,3888.0,NaN
4,Jordan Rabinowitz,"Jersey City, NJ",USA,M,29,3361,0:26:56,08:40,"2,270","1,561",25-29,212.0,USA,"1,789","1,864",0:26:54,48.28%,0:35:33,2436.0,Jersey City Runners
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,Tova Markowitz,"Lynbrook, NY",USA,F,48,5165,0:35:53,11:33,"4,201","1,907",45-49,222.0,USA,"3,487","1,806",0:32:46,45.09%,0:52:21,4312.0,Quicksilver Striders
4938,Michael Irenski,"New York, NY",USA,M,34,4767,0:32:11,10:22,"3,585","2,116",30-34,374.0,USA,"2,934","2,258",0:31:40,41.01%,0:40:32,3015.0,NaN
4939,Christopher Fei,"New York, NY",USA,M,32,3921,0:22:51,07:21,"1,034",835,30-34,176.0,USA,804,"1,189",0:22:39,57.33%,0:25:25,1005.0,Harlem Run
4940,Flor Mireya Barranco,"Brooklyn, NY",USA,F,49,1378,0:28:25,09:09,"2,663",916,45-49,110.0,USA,"2,130",751,0:25:40,57.53%,0:42:28,3284.0,S.F.H Smiles From Heaven Athletic Club
4941,Mark Rosenfield,"Metuchen, NJ",USA,M,62,1853,0:29:41,09:34,"3,016","1,903",60-64,74.0,USA,"2,430","1,407",0:23:44,54.72%,0:40:26,3003.0,NaN

In [6]:
df['residence'] = df.geo_subregion + " " + df.country

In [7]:
df

,name,geo_subregion,country,gender,age,bib,official_time,pace_per_mile,place_overall,place_gender,...,place_age-group,country_group,place_country,place_age‐graded,time_age‐graded,percentage_age‐graded,gun_time,gun_place,team,residence
0,Chui Wong,"Whitestone, NY",USA,F,35,1308,0:38:09,12:17,"4,417","2,054",...,300.0,USA,"3,684","2,195",0:37:54,38.98%,0:55:00,4490.0,NaN,"Whitestone, NY USA"
1,Gregory Aston,"New York, NY",USA,M,51,4638,0:28:18,09:07,"2,634","1,732",...,152.0,USA,"2,105","1,568",0:24:43,52.55%,0:34:30,2290.0,NaN,"New York, NY USA"
2,Jonathan Byrne,"New York, NY",USA,M,43,4629,0:22:19,07:11,906,739,...,112.0,IRL,4,742,0:20:42,62.77%,0:23:05,706.0,Full Throttle Endurance Racing,"New York, NY USA"
3,Madeline Pies,"New York, NY",USA,F,29,2860,0:37:10,11:58,"4,330","1,997",...,329.0,USA,"3,603","2,161",0:37:10,39.74%,0:47:56,3888.0,NaN,"New York, NY USA"
4,Jordan Rabinowitz,"Jersey City, NJ",USA,M,29,3361,0:26:56,08:40,"2,270","1,561",...,212.0,USA,"1,789","1,864",0:26:54,48.28%,0:35:33,2436.0,Jersey City Runners,"Jersey City, NJ USA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,Tova Markowitz,"Lynbrook, NY",USA,F,48,5165,0:35:53,11:33,"4,201","1,907",...,222.0,USA,"3,487","1,806",0:32:46,45.09%,0:52:21,4312.0,Quicksilver Striders,"Lynbrook, NY USA"
4938,Michael Irenski,"New York, NY",USA,M,34,4767,0:32:11,10:22,"3,585","2,116",...,374.0,USA,"2,934","2,258",0:31:40,41.01%,0:40:32,3015.0,NaN,"New York, NY USA"
4939,Christopher Fei,"New York, NY",USA,M,32,3921,0:22:51,07:21,"1,034",835,...,176.0,USA,804,"1,189",0:22:39,57.33%,0:25:25,1005.0,Harlem Run,"New York, NY USA"
4940,Flor Mireya Barranco,"Brooklyn, NY",USA,F,49,1378,0:28:25,09:09,"2,663",916,...,110.0,USA,"2,130",751,0:25:40,57.53%,0:42:28,3284.0,S.F.H Smiles From Heaven Athletic Club,"Brooklyn, NY USA"
4941,Mark Rosenfield,"Metuchen, NJ",USA,M,62,1853,0:29:41,09:34,"3,016","1,903",...,74.0,USA,"2,430","1,407",0:23:44,54.72%,0:40:26,3003.0,NaN,"Metuchen, NJ USA"

In [8]:
residence_list = df.residence.unique()
len(residence_list)

503

In [9]:
df.residence.value_counts()

New York, NY USA            1968
Brooklyn, NY USA             666
Bronx, NY USA                307
Astoria, NY USA              133
Jersey City, NJ USA           99
                            ...
Mahopac, NY USA                1
Allentown, PA USA              1
South Ozone Pk, NY USA         1
Pittsfield, MA USA             1
Saratoga Springs, NY USA       1
Name: residence, Length: 502, dtype: int64

In [ ]:
# import pandas as pd
# import geopandas as gpd
# import geopy
# from geopy.geocoders import Nominatim
# from geopy.extra.rate_limiter import RateLimiter
# import matplotlib.pyplot as plt
# import folium
# from folium.plugins import FastMarkerCluster

In [10]:
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

locator = Nominatim(user_agent="myGeocoder")
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [57]:
location_dict = {}
problem_locations = []

for residence in residence_list:
    location_result = geocode(residence)
    if location_result == None:
        problem_locations.append(residence)
        print("No location found for {}.".format(residence))
    else:
        location_dict[residence] = geocode(residence)
        print("Found location for {}.".format(residence))

Found location for Whitestone, NY USA.
Found location for New York, NY USA.
Found location for Jersey City, NJ USA.
Found location for Brooklyn, NY USA.
Found location for Bronx, NY USA.
Found location for Washingtonville, NY USA.
Found location for College Point, NY USA.
Found location for Elizabeth, NJ USA.
Found location for Valhalla, NY USA.
Found location for Woodside, NY USA.
Found location for Astoria, NY USA.
Found location for Staten Island, NY USA.
Found location for Forest Hills, NY USA.
Found location for Rockaway Park, NY USA.
Found location for Trenton, NJ USA.
Found location for Demarest, NJ USA.
Found location for Weehawken, NJ USA.
Found location for Cresskill, NJ USA.
Found location for Sea Cliff, NY USA.
Found location for Holden, MA USA.
Found location for Manhattan, NY USA.
Found location for Union City, NJ USA.
Found location for Stamford, CT USA.
Found location for Kew Gardens, NY USA.
Found location for Middle Village, NY USA.
Found location for Jamaica, NY USA.
Found location for Baldwin Place, NY USA.
Found location for West Hempstead, NY USA.
Found location for Flushing, NY USA.
Found location for Lansdale, PA USA.
Found location for Point Pleasant Beach, NJ USA.
Found location for Long Island City, NY USA.
Found location for Warren, NJ USA.
Found location for Morristown, NJ USA.
Found location for West Orange, NJ USA.
Found location for Lincoln Park, NJ USA.
Found location for Boston, MA USA.
Found location for Dumont, NJ USA.
Found location for Islip Terrace, NY USA.
Found location for Hoboken, NJ USA.
Found location for Fishkill, NY USA.
Found location for Cos Cob, CT USA.
Found location for Ridgewood, NJ USA.
Found location for New Rochelle, NY USA.
Found location for Islip, NY USA.
Found location for Rosedale, NY USA.
Found location for East Orange, NJ USA.
Found location for Yorktown Heights, NY USA.
Found location for Coralville, IA USA.
Found location for Garden City, NY USA.
Found location for Ridgefield, CT USA.
Found location for New Milford, NJ USA.
Found location for Ridgewood, NY USA.
Found location for Kennesaw, GA USA.
Found location for Brentwood, NY USA.
Found location for Rutherford, NJ USA.
Found location for Roma ITA.
Found location for Fort Lee, NJ USA.
Found location for Port Jefferson, NY USA.
Found location for The Bronx, NY USA.
Found location for Bellerose, NY USA.
Found location for South Ozone Park, NY USA.
Found location for Teaneck, NJ USA.
No location found for Briarcliff Mano, NY USA.
Found location for Richmond Hill, NY USA.
Found location for Merrick, NY USA.
Found location for Rego Park, NY USA.
Found location for New Orleans, LA USA.
Found location for Elmhurst, NY USA.
Found location for Rye, NY USA.
Found location for White Plains, NY USA.
Found location for Philadelphia, PA USA.
Found location for Oceanside, NY USA.
Found location for Toronto CAN.
Found location for Jackson Heights, NY USA.
Found location for Westfield, NJ USA.
Found location for North Brunswick, NJ USA.
Found location for Carmel, NY USA.
Found location for Yonkers, NY USA.
Found location for Allentown, PA USA.
No location found for Morristown, New JerseyNew Jersey USA.
Found location for Port Washington, NY USA.
Found location for Edgewater, NJ USA.
Found location for Woodhaven, NY USA.
Found location for Woodside MEX.
Found location for Washington, DC USA.
Found location for Springfield Gardens, NY USA.
Found location for Hastings On Hudson, NY USA.
Found location for Basking Ridge, NJ USA.
Found location for Saint Louis, MO USA.
Found location for Rockaway Beach, NY USA.
Found location for Brookfield, CT USA.
Found location for Sunnyside, NY USA.
Found location for Huntington Station, NY USA.
Found location for Plainview, NY USA.
Found location for Nyack, NY USA.
Found location for Breezy Point, NY USA.
Found location for Massapequa, NY USA.
Found location for Tarrytown, NY USA.
Found location for Oakland, NJ USA.
Found location for Scotch Plains, NJ USA.
Found location for Pomona, NY USA.
Found location for Massapequa Park, NY USA.
Found location for Westwood, NJ USA.
Found location for East Elmhurst, NY USA.
Found location for Bloomfield, NJ USA.
Found location for Stony Point, NY USA.
Found location for Bronx, N.Y., NY USA.
Found location for Brewster, NY USA.
Found location for Valley Stream, NY USA.
Found location for Roslyn Heights, NY USA.
Found location for Corona, NY USA.
Found location for Canandaigua, NY USA.
Found location for Northport, NY USA.
Found location for Tuckahoe, NY USA.
Found location for Fords, NJ USA.
Found location for Leonia, NJ USA.
Found location for Palisades Park, NJ USA.
Found location for Fanwood, NJ USA.
Found location for Greenwich, CT USA.
Found location for Lynbrook, NY USA.
Found location for Metuchen, NJ USA.
Found location for West New York, NJ USA.
Found location for Flanders, NJ USA.
Found location for Bronxville, NY USA.
Found location for Wallingford, CT USA.
Found location for Marlboro, NJ USA.
Found location for South Nyack, NY USA.
Found location for Pelham, NY USA.
Found location for Sleepy Hollow, NY USA.
Found location for Pleasantville, NY USA.
Found location for Paramus, NJ USA.
Found location for nan.
Found location for Mount Vernon, NY USA.
Found location for Huntington Sta, NY USA.
Found location for Saddle Brook, NJ USA.
Found location for Drexel Hill, PA USA.
Found location for Jersey City, Hudson County USA.
Found location for Harrison, NY USA.
Found location for Lyndhurst, NJ USA.
Found location for East Rutherford, NJ USA.
Found location for Madelia, MN USA.
Found location for Elmwood Park, NJ USA.
Found location for Bayside, NY USA.
Found location for Walpole, MA USA.
Found location for Harrison, NJ USA.
Found location for Bergenfield, NJ USA.
Found location for Lawrence, NY USA.
Found location for East Meadow, NY USA.
Found location for Fresh Meadows, NY USA.
Found location for Spotswood, NJ USA.
Found location for Kearny, NJ USA.
Found location for Far Rockaway, NY USA.
Found location for Oakland Gardens, NY USA.
Found location for East Brunswick, NJ USA.
Found location for Katonah, NY USA.
Found location for New York City, NY USA.
Found location for Pearl River, NY USA.
Found location for New Providence, NJ USA.
Found location for Frenchtown, NJ USA.
Found location for Guttenberg, NJ USA.
Found location for River Edge, NJ USA.
Found location for Little Neck, NY USA.
Found location for Roesrath DEU.
Found location for Martinsville, NJ USA.
Found location for Wappingers Falls, NY USA.
Found location for Silver Spring, MD USA.
Found location for Weston, CT USA.
Found location for Parsippany, NJ USA.
Found location for La Crescenta, CA USA.
Found location for South Orange, NJ USA.
Found location for Nutley, NJ USA.
Found location for Sussex, NJ USA.
Found location for Purdys, NY USA.
Found location for Taichung CHI.
Found location for Derwood, MD USA.
Found location for Norwood, NJ USA.
Found location for Milford, CT USA.
Found location for Florence, NJ USA.
Found location for Alpine, NJ USA.
Found location for West Nyack, NY USA.
Found location for Elche ESP.
Found location for Irvington, NY USA.
Found location for Albany, NY USA.
Found location for Forest Hills, Nueva York USA.
Found location for North Hills, NY USA.
Found location for Clifton, NJ - New Jersey USA.
Found location for High Falls, NY USA.
Found location for New Canaan, CT USA.
No location found for Meylan FRA.
Found location for Lake Ronkonkoma, NY USA.
Found location for Lodi, NJ USA.
Found location for Mt. Vernon, NY USA.
Found location for Little Silver, NJ USA.
Found location for North Bergen, NJ USA.
Found location for Glendale, NY USA.
Found location for Littleton, CO USA.
Found location for Plano, TX USA.
Found location for Glen Cove, NY USA.
Found location for Selden, NY USA.
Found location for Mineola, NY USA.
Found location for Great Neck, NY USA.
Found location for Boonton, NJ USA.
Found location for Riverdale, NY USA.
Found location for Woodcliff Lake, NJ USA.
Found location for Ridgefield Park, NJ USA.
Found location for Guilford, CT USA.
Found location for Melville, NY USA.
Found location for Ronkonkoma, NY USA.
Found location for Morris Plains, NJ USA.
Found location for Farmingdale, NY USA.

Found location for Ossining, NY USA.
Found location for Norwalk, CT USA.
Found location for South Richmond Hill, NY USA.
Found location for Enfield, CT USA.
Found location for Mamaroneck, NY USA.
Found location for Goshen, NY USA.
Found location for Bay Shore, NY USA.
Found location for Babylon, NY USA.
Found location for Plainfield, NJ USA.
Found location for Passaic, NJ USA.
Found location for Fairview, NJ USA.
Found location for Jamaica Plain, MA USA.
Found location for Monroe, NY USA.
Found location for Glen Ridge, NJ USA.
Found location for Syosset, NY USA.
No location found for Swindon GBR.
Found location for New Hyde Park, NY USA.
Found location for Long Pond, PA USA.
Found location for Queens Village, NY USA.
Found location for Englewood Cliffs, NJ USA.
Found location for Ozone Park, NY USA.
Found location for Levittown, NY USA.
Found location for West Hartford, CT USA.
Found location for Fort Lauderdale, FL USA.
Found location for Roosevelt, NY USA.
Found location for Bridgeport, CT USA.
Found location for Saint Petersburg, FL USA.
Found location for Glen Rock, NJ USA.
No location found for New York GBR.
Found location for Rockville Centre, NY USA.
Found location for Setauket, NY USA.
Found location for Upper Saddle River, NJ USA.
Found location for Hackensack, NJ USA.
Found location for Clark, NJ USA.
Found location for Short Hills, NJ USA.
Found location for Scarsdale, NY USA.
Found location for Closter, NJ USA.
Found location for Lake Katrine, NY USA.
Found location for Succasunna, NJ USA.
Found location for Hartsdale, NY USA.
Found location for Howard Beach, NY USA.
Found location for Briarcliff Manor, NY USA.
Found location for Lake Hopatcong, NJ USA.
Found location for Manhasset Hills, NY USA.
Found location for Branford, CT USA.
Found location for Tenafly, NJ USA.
Found location for Mahwah, NJ USA.
Found location for Plainsboro, NJ USA.
Found location for Denver, CO USA.
Found location for Venice, CA USA.
Found location for Westbury, NY USA.
Found location for Dobbs Ferry, NY USA.
Found location for Ramsey, NJ USA.
Found location for Livingston, NJ USA.
Found location for Perrineville, NJ USA.
Found location for Poughkeepsie, NY USA.
Found location for Highland Park, NJ USA.
No location found for Hoboken, New JerseyNJ USA.
Found location for Florham Park, NJ USA.
Found location for Iselin, NJ USA.
Found location for Clifton, NJ USA.
Found location for Greenwood Lake, NY USA.
Found location for Inwood, NY USA.
Found location for Little Falls, NJ USA.
Found location for Plainsboro Township, NJ USA.
Found location for New City, NY USA.
Found location for Shirley, NY USA.
Found location for Belleville, NJ USA.
No location found for New York, United States of America (USA) USA.
Found location for Wood Ridge, NJ USA.
Found location for Centerport, NY USA.
Found location for Sagaponack, NY USA.
Found location for Ringoes, NJ USA.
Found location for Pine Brook, NJ USA.
No location found for New York, État de New York USA.
Found location for Brookline, MA USA.
Found location for Danbury, CT USA.
Found location for Haworth, NJ USA.
Found location for Cortlandt Manor, NY USA.
Found location for N Valley Stream, NY USA.
Found location for Glen Oaks, NY USA.
Found location for Garfield, NJ USA.
Found location for Maspeth, NY USA.
Found location for Hicksville, NY USA.
Found location for Paterson, NJ USA.
Found location for Brooklyn, Nueva York USA.
Found location for Williston Park, NY USA.
Found location for Old Bridge, NJ USA.
Found location for Arlington, VA USA.
Found location for New York, ניו יורק USA.
Found location for Verplanck, NY USA.
Found location for Orangeburg, NY USA.
No location found for New York, Nueva YorkNew York USA.
Found location for Princeton, NJ USA.
Found location for Maplewood, NJ USA.
Found location for Harrington Park, NJ USA.
Found location for East Northport, NY USA.
Found location for Montvale, NJ USA.
Found location for River Vale, NJ USA.
Found location for Wyckoff, NJ USA.
Found location for Smithtown, NY USA.
Found location for Lido Beach, NY USA.
Found location for Audubon, NJ USA.
Found location for Bellmore, NY USA.
Found location for Cambridge, MA USA.
Found location for Tappan, NY USA.
Found location for Perth Amboy, NJ USA.
Found location for East Norwich, NY USA.
Found location for Rye Brook, NY USA.
Found location for Lawrenceville, NJ USA.
Found location for Putnam Valley, NY USA.
Found location for Nyc, NY USA.
Found location for College Point-Queens, NY USA.
Found location for Shelter Island, NY USA.
Found location for Eatontown, NJ USA.
Found location for Rahway, NJ USA.
Found location for Peekskill, NY USA.
Found location for Cambria Heights, NY USA.
Found location for Park Ridge, NJ USA.
Found location for Cedarhurst, NY USA.
Found location for Easton, CT USA.
Found location for Fair Lawn, NJ USA.
Found location for Verona, NJ USA.
Found location for Croton On Hudson, NY USA.
No location found for Glasser, NJ USA.
Found location for Pompton Plains, NJ USA.
Found location for Pawtucket, RI USA.
Found location for Floral Park, NY USA.
No location found for Hastings On Hud, NY USA.
Found location for Rocky Point, NY USA.
Found location for Sparkill, NY USA.
Found location for Midland Park, NJ USA.
Found location for Port Chester, NY USA.
Found location for Lake Peekskill, NY USA.
Found location for Montauk, NY USA.
Found location for Woodbridge, NJ USA.
Found location for Hudson, MA USA.
Found location for Oradell, NJ USA.
Found location for North Babylon, NY USA.
Found location for San Francisco, CA USA.
Found location for Englewood, NJ USA.
Found location for New York, NY - New York USA.
Found location for Township Of Washington, NJ USA.
Found location for Ny, NY USA.
Found location for Montclair, NJ USA.
Found location for Deer Park, NY USA.
Found location for Dobbs, NY USA.
Found location for Glen Head, NY USA.
Found location for Lexington, MA USA.
Found location for East Setauket, NY USA.
Found location for Haskell, NJ USA.
Found location for Brooklyn, Nowy Jork USA.
Found location for Thiells, NY USA.
Found location for Bedminster, NJ USA.
Found location for Rhinebeck, NY USA.
Found location for Manhasset, NY USA.
Found location for Dallas, TX USA.
Found location for Baldwin, NY USA.
Found location for New Windsor, NY USA.
Found location for Woodbury, NY USA.
Found location for Red Bank, NJ USA.
Found location for Forest Hills, NY - New York USA.
Found location for Eastchester, NY USA.
Found location for Billerica, MA USA.
Found location for Marlboro, VT USA.
Found location for Union Beach, NJ USA.
Found location for Belmar, NJ USA.
Found location for Wilmette, IL USA.
No location found for Forest Hills, UNITED STATES USA.
Found location for Berkeley Heights, NJ USA.
Found location for Newark, NJ USA.
Found location for Union, NJ USA.
Found location for Yorktown Hgts, NY USA.
Found location for East Flatbush, NY USA.
Found location for Long Valley, NJ USA.
Found location for Secaucus, NJ USA.
Found location for East Stroudsburg, PA USA.
Found location for Cherry Hill, NJ USA.
Found location for Douglaston, NY USA.
Found location for Huntington, NY USA.
No location found for 里奇伍德, 新泽西州NJ USA.
Found location for Garrison, NY USA.
Found location for Hewlett, NY USA.
Found location for Effort, PA USA.
Found location for Queens, NY USA.
No location found for Hasbrouck Heigh, NJ USA.
No location found for Makati PHL.
Found location for Albertson, NY USA.
Found location for Middletown, NY USA.
Found location for Vienna, VA USA.
No location found for Rockville Centr, NY USA.
Found location for Salt Lake City, UT USA.
Found location for Ringwood, NJ USA.
Found location for Orange, CT USA.
Found location for Hamilton, NJ USA.
Found location for Catonsville, MD USA.
Found location for Cranford, NJ USA.
Found location for Carle Place, NY USA.
Found location for East Rockaway, NY USA.
Found location for Holbrook, NY USA.
Found location for South Ozone Pk, NY USA.
Found location for Nanuet, NY USA.
No location found for Reading GBR.
Found location for Valley Cottage, NY USA.
Found location for New Milford, CT USA.
Found location for Jacksonville, FL USA.
Found location for Brick, NJ USA.
Found location for Centereach, NY USA.

Found location for Cliffside Park, NJ USA.
Found location for New Brunswick, NJ USA.
Found location for Elko, NV USA.
Found location for Dix Hills, NY USA.
Found location for Morganville, NJ USA.
Found location for West Paterson, NJ USA.
Found location for Old Bethpage, NY USA.
Found location for Pittsfield, MA USA.
Found location for Greenlawn, NY USA.
Found location for Amherst, MA USA.
Found location for Butler, NJ USA.
Found location for Lebanon, PA USA.
Found location for Kings Park, NY USA.
Found location for Woodmere, NY USA.
Found location for New York, ニューヨーク州 USA.
No location found for Brooklyn, État de New York USA.
Found location for Matawan, NJ USA.
No location found for New York UGA.
Found location for Long Beach, NY USA.
Found location for Bx, NY USA.
Found location for West Babylon, NY USA.
No location found for Staten Island, New YorkNY USA.
Found location for Hillsdale, NJ USA.
Found location for Hasbrouck Heights, NJ USA.
Found location for Lutsk UKR.
No location found for Poole GBR.
Found location for Elmont, NY USA.
Found location for Nesconset, NY USA.
Found location for Rockleigh, NJ USA.
Found location for Haverhill, MA USA.
Found location for Haledon, NJ USA.
Found location for Bayonne, NJ USA.
Found location for Pawling, NY USA.
Found location for Wilton, CT USA.
Found location for Ho Ho Kus, NJ USA.
Found location for South Plainfield, NJ USA.
Found location for Baltimore, MD USA.
Found location for Emerson, NJ USA.
Found location for Boonton Township, NJ USA.
Found location for Bedford, NY USA.
Found location for Saint Albans, NY USA.
Found location for Mohegan Lake, NY USA.
Found location for New York, Staten Island USA.
Found location for Patchogue, NY USA.
Found location for West Harrison, NY USA.
Found location for Avon, CT USA.
Found location for Franklin Square, NY USA.
Found location for Hummelstown, PA USA.
Found location for Bearsville, NY USA.
Found location for Stony Brook, NY USA.
Found location for Linden, NJ USA.
Found location for Uniondale, NY USA.
No location found for Corona ECU.
Found location for Jackson Hts, NY USA.
Found location for Commack, NY USA.
Found location for Dunellen, NJ USA.
Found location for Chesterfield, VA USA.
Found location for Toms River, NJ USA.
Found location for Saint James, NY USA.
Found location for Saratoga Springs, NY USA.
Found location for Sound Beach, NY USA.
No location found for Setouchi City JPN.
No location found for Sheung Wan HKG.
Found location for Millstone Twp, NJ USA.
No location found for Sunnysisde, NY USA.
Found location for Mahopac, NY USA.
Found location for Hempstead, NY USA.
Found location for Haverstraw, NY USA.
Found location for Wantagh, NY USA.
Found location for Wallington, NJ USA.
Found location for Freehold, NJ USA.
Found location for Harriman, NY USA.
Found location for Chatham, NJ USA.
Found location for Chappaqua, NY USA.
Found location for Jackson Heights, NY New York USA.
Found location for Schenectady, NY USA.
Found location for Torrington, CT USA.
Found location for Jericho, NY USA.
Found location for Hauppauge, NY USA.
Found location for Hamilton Square, NJ USA.
Found location for North Arlington, NJ USA.
Found location for Bethel, CT USA.
Found location for Bogota-Col COL.
Found location for El Bronx Ny, Nueva York USA.

In [58]:
problem_locations

['Briarcliff Mano, NY USA',
 'Morristown, New JerseyNew Jersey USA',
 'Meylan FRA',
 'Swindon GBR',
 'New York GBR',
 'Hoboken, New JerseyNJ USA',
 'New York, United States of America (USA) USA',
 'New York, État de New York USA',
 'New York, Nueva YorkNew York USA',
 'Glasser, NJ USA',
 'Hastings On Hud, NY USA',
 'Forest Hills, UNITED STATES USA',
 '里奇伍德, 新泽西州NJ USA',
 'Hasbrouck Heigh, NJ USA',
 'Makati PHL',
 'Rockville Centr, NY USA',
 'Reading GBR',
 'Brooklyn, État de New York USA',
 'New York UGA',
 'Staten Island, New YorkNY USA',
 'Poole GBR',
 'Corona ECU',
 'Setouchi City JPN',
 'Sheung Wan HKG',
 'Sunnysisde, NY USA']

In [63]:
df['location'] = df['residence'].map(location_dict)
# df["B"] = df["A"].map(equiv)

In [74]:
df

,name,geo_subregion,country,gender,age,bib,official_time,pace_per_mile,place_overall,place_gender,...,country_group,place_country,place_age‐graded,time_age‐graded,percentage_age‐graded,gun_time,gun_place,team,residence,location
0,Chui Wong,"Whitestone, NY",USA,F,35,1308,0:38:09,12:17,"4,417","2,054",...,USA,"3,684","2,195",0:37:54,38.98%,0:55:00,4490.0,NaN,"Whitestone, NY USA","(Whitestone, Queens, Queens County, New York, ..."
1,Gregory Aston,"New York, NY",USA,M,51,4638,0:28:18,09:07,"2,634","1,732",...,USA,"2,105","1,568",0:24:43,52.55%,0:34:30,2290.0,NaN,"New York, NY USA","(New York, United States, (40.7127281, -74.006..."
2,Jonathan Byrne,"New York, NY",USA,M,43,4629,0:22:19,07:11,906,739,...,IRL,4,742,0:20:42,62.77%,0:23:05,706.0,Full Throttle Endurance Racing,"New York, NY USA","(New York, United States, (40.7127281, -74.006..."
3,Madeline Pies,"New York, NY",USA,F,29,2860,0:37:10,11:58,"4,330","1,997",...,USA,"3,603","2,161",0:37:10,39.74%,0:47:56,3888.0,NaN,"New York, NY USA","(New York, United States, (40.7127281, -74.006..."
4,Jordan Rabinowitz,"Jersey City, NJ",USA,M,29,3361,0:26:56,08:40,"2,270","1,561",...,USA,"1,789","1,864",0:26:54,48.28%,0:35:33,2436.0,Jersey City Runners,"Jersey City, NJ USA","(Jersey City, Hudson County, New Jersey, Unite..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,Tova Markowitz,"Lynbrook, NY",USA,F,48,5165,0:35:53,11:33,"4,201","1,907",...,USA,"3,487","1,806",0:32:46,45.09%,0:52:21,4312.0,Quicksilver Striders,"Lynbrook, NY USA","(Lynbrook, Hempstead, Nassau County, New York,..."
4938,Michael Irenski,"New York, NY",USA,M,34,4767,0:32:11,10:22,"3,585","2,116",...,USA,"2,934","2,258",0:31:40,41.01%,0:40:32,3015.0,NaN,"New York, NY USA","(New York, United States, (40.7127281, -74.006..."
4939,Christopher Fei,"New York, NY",USA,M,32,3921,0:22:51,07:21,"1,034",835,...,USA,804,"1,189",0:22:39,57.33%,0:25:25,1005.0,Harlem Run,"New York, NY USA","(New York, United States, (40.7127281, -74.006..."
4940,Flor Mireya Barranco,"Brooklyn, NY",USA,F,49,1378,0:28:25,09:09,"2,663",916,...,USA,"2,130",751,0:25:40,57.53%,0:42:28,3284.0,S.F.H Smiles From Heaven Athletic Club,"Brooklyn, NY USA","(Brooklyn, Kings County, New York, United Stat..."
4941,Mark Rosenfield,"Metuchen, NJ",USA,M,62,1853,0:29:41,09:34,"3,016","1,903",...,USA,"2,430","1,407",0:23:44,54.72%,0:40:26,3003.0,NaN,"Metuchen, NJ USA","(Metuchen, Middlesex County, New Jersey, 08840..."

In [87]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4942 entries, 0 to 4941
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   4942 non-null   object
 1   geo_subregion          4936 non-null   object
 2   country                4942 non-null   object
 3   gender                 4942 non-null   object
 4   age                    4942 non-null   int64
 5   bib                    4942 non-null   int64
 6   official_time          4941 non-null   object
 7   pace_per_mile          4941 non-null   object
 8   place_overall          4941 non-null   object
 9   place_gender           4941 non-null   object
 10  age_group              4941 non-null   object
 11  place_age-group        4941 non-null   float64
 12  country_group          4937 non-null   object
 13  place_country          4941 non-null   object
 14  place_age‐graded       4941 non-null   object
 15  time_age‐graded        4941 non-null   object
 16  percentage_age‐graded  4942 non-null   object
 17  gun_time               4941 non-null   object
 18  gun_place              4941 non-null   float64
 19  team                   2255 non-null   object
 20  residence              4936 non-null   object
 21  location               4916 non-null   object
 22  latitude               4916 non-null   object
dtypes: float64(2), int64(2), object(19)
memory usage: 888.1+ KB

In [97]:
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

AttributeError: 'float' object has no attribute 'point'

In [98]:
type(df['location'][0])

geopy.location.Location

In [84]:
df.iloc[0]['location'].latitude

40.7945457

In [62]:
latitude_dict = {}
longitude_dict = {}

for thing in location_dict:
    try:
        print(location_dict[thing].latitude)
    except:
        print(f"{thing} is a speedbump.")

40.7945457
40.7127281
40.7281575
40.6501038
40.8466508
41.4278716
40.7876014
40.6639916
41.0754695
40.7453798
40.7720145
40.5834557
40.7195942
40.5805104
40.2170575
40.9573205
40.7695457
40.9414874
40.8491558
44.7528499
40.7896239
40.7795455
41.072089
40.7139415
40.718215650000005
40.6914852
41.3475938
40.69758005
40.7654301
40.2414952
40.0919203
40.7415095
40.8602222
40.7970384
40.7987113
40.9242652
42.3602534
40.9406541
40.7504303
40.7433066
41.5355745
41.0334305
40.9796683
40.9115386
40.7304311
40.6620479
40.767323
41.2695965
41.6764044
40.7266477
41.2814842
40.9350986
40.7080556
34.0234337
40.7856853
40.826489
51.0574612
40.8509333
40.9465118
40.8466508
40.724269
40.6701035
40.8860164
40.6994253
40.652246000000005
40.72286495
29.9499323
40.7365804
40.9808209
41.0339862
39.9527237
40.633591499999994
43.820952
40.7556561
40.6589912
40.4707536
41.4266361
40.9312099
40.6022059
40.8254914
40.8270448
40.6892698
3.1343984
38.9298584
40.678159
40.9946622
40.7064088
38.6529545
40.5844026
41.8228378
40.7398242
40.8534318
40.78357765
41.091121
40.556239500000004
40.6695725
41.065585999999996
41.0220483
40.65538
41.1897336
40.6803785
40.9912087
40.7612123
40.806767
41.2295386
40.8466508
41.3973335
40.6631362
40.77691645
40.7469593
42.8858579
40.9040576
40.9503764
40.5411231
40.8617353
40.8481556
40.6409041
41.0264862
40.6548253
40.5431598
40.7856117
40.8456549
40.9381544
41.4570418
39.9028913
41.0832003
40.9098215
41.0908585
41.1328736
40.9452911
46.3144754
40.9125815
40.868154
40.898988
39.9470567
40.7281575
41.0195135
40.8120247
40.833989
44.0507937
40.9074237
40.7684351
42.1417653
40.7464901
40.9275987
40.6156599
40.721929599999996
40.7348246
40.391774
40.7684342
40.6053825
40.753991
40.4692662
41.25877
40.7127281
41.05538850000001
40.6984348
40.5264167
40.7920454
40.9287098
40.7745338
50.8963758
40.6012136
41.5965635
39.008641100000006
26.1003392
40.8578772
34.230429
40.7474966
40.8223223
41.2098177
41.3253464
24.19657985
39.11733
40.9981532
41.2226155
40.1195546
40.94855
41.090103
38.2653307
41.0350625
42.6511674
40.7195942
40.7809343
40.8584328
41.8269555
41.146763
40.8237106
40.8823215
40.9125815
40.3367769
40.8042674
40.7014917
39.613321
33.0136764
40.862755
40.871537000000004
40.7492678
40.8006567
40.9025989
40.90056
41.0234304
40.8570442
41.2889866
40.7862225
40.8153761
40.8364845
40.7356738
41.1609095
41.1175966
40.6994253
41.9789387
40.9487097
41.4020382
40.742924
40.6956552
40.6337136
40.8567663
40.8126006
42.3098201
43.150094
40.805378
40.818714150000005
40.7352157
41.053422
40.7267692
40.8853773
40.67677
40.7219525
41.7620447
26.1223084
40.6781175
41.184722300000004
27.7703796
40.9628758
40.6574186
40.9355473
41.0584299
40.8871438
40.6233995
40.7478786
40.9880495
40.9731536
41.988841
40.8684325
41.0130875
40.6578815
41.1456512
40.904011
40.75783275
41.2795414
40.9253766
41.0887072
40.3334409
39.7392364
33.988334949999995
40.7556561
41.0110045
41.0573188
40.7959335
40.2284441
41.7065539
40.4959379
40.787878
40.569334999999995
40.8584328
41.2225932
40.8692579
40.8689882
40.3334409
41.1499825
40.796841650000005
40.7937116
40.8456555
40.89782185
40.92921115
40.4289354
40.2806668
42.3317642
41.39508
40.9609315
41.2486935
40.686044
40.7470463
40.8814882
40.723158
40.7684331
40.9167654
40.6501038
40.75649
40.399178000000006
32.701938999999996
40.7127281
41.256439
41.0514565
40.3492744
40.7312123
40.9837089
40.8810646
41.0467635
40.9953754
41.0095417
40.8559314
40.5889927
39.8909466
40.653812599999995
42.3750997
41.0249745
40.5067723
40.8523804
41.0192641
40.300987649999996
41.3359272
40.7127281
40.7876014
41.05508915
40.2962222
40.6081591
41.289811
40.6945474
41.0375969
40.6228819
40.6916081
40.9397796
40.829822
41.2083836
40.9681536
41.878711
40.7246999
40.935652250000004
41.0289025
40.9893112
41.0017643
41.3348161
41.043629800000005
40.55418
42.7654433
40.9543943
40.7303088
37.7790262
40.8928771
40.7127281
40.9884843
40.741235950000004
40.8164458
40.763594
41.0110045
40.84348675
38.0464066
40.9418427
41.0284304
40.6501038
41.206880999999996
40.680657
41.9268754
40.7845923
32.7762719
40.6626725
41.4767605
40.8182104
40.3470543
40.7195942
40.9610563
42.5584264
42.859526
40.4464962
40.1784471
42.0757315
40.6834349
40.735657
40.6976019
41.2695965
40.6537148
40.78168135
40.7899291
40.9995386
39.9348351
40.768713
40.868154
41.3803366
40.641309500000006
40.94493155
40.7498243
40.77222865
41.45011
38.9013729
40.7596198
41.113429
33.7500378
40.2070573
39.26099215
40.6584358
40.750241
40.643363
40.798607149999995
40.6701035
41.0903087
41.117857
42.1798043
30.3321838
40.7508774
40.868527
40.8214894
40.4862174
41.1958128
40.80188615
40.3764975
40.8893288
40.758239
42.451302
40.860761
42.3685658
41.0037087
40.3429683
40.88373
40.63585725
40.7127281
40.41483
40.5885116
40.7974408
40.7126585
41.0025975
40.8579293
50.748361349999996
40.70350835
40.844888
41.0003754
42.7777829
40.935654
40.6687141
41.5620381
47.5034
40.9976524
40.5792701
39.2908816
40.976209
40.9304681
41.2041304
40.6984364
41.3184272
40.5207131
40.7656539
41.0195135
41.8098209
40.7005365
40.2653681
42.040647
40.9087015
40.6220478
40.7031115
40.7556561
40.847727899999995
40.5892696
38.661953
39.9537359
40.8832717
43.0821793
40.95592895
40.2023684
41.371217
40.7063185
41.20247875
40.6626375
40.8531553
40.2601096
41.308427
40.7409242
41.1607465
40.7556561
42.8142432
41.834235
40.78741555
40.82394255
40.2273316
40.788434
60.7922222
38.5451172
40.8466508

# Checking completeness

I would like to know if the race data is complete, i.e. has every finisher been captured. We can check the place numbers to see if they form a numeric sequence from 1st place to last place. There should be no gaps. There may be duplicates or triplicates due to different classifications (runners, wheelchair, handcycle) mixed together.

Some ideas:
1. Ignore the duplicates and look for gaps only. Could miss a gap in the runners if a wheelchair is filling it and vice versa.
2. Check to make sure the duplicates are also sequential, i.e. there are no gaps in the duplicates.
3. Infer athlete classification during scraping. Note that athlete classification is not explicitly stated in the race results. See https://results.nyrr.org/event/M2019/result/251 as an example.
4. Infer athlete classification during cleaning. See https://results.nyrr.org/event/M2019/result/251, https://results.nyrr.org/event/M2019/result/101, and https://results.nyrr.org/event/M2019/result/341 as examples.

In [ ]:
def missing_elements(L, start, end):
    
    if end - start <= 1: 
        if L[end] - L[start] > 1:
            yield from range(L[start] + 1, L[end])
        return

    index = start + (end - start) // 2

    # is the lower half consecutive?
    consecutive_low =  L[index] == L[start] + (index - start)
    if not consecutive_low:
        yield from missing_elements(L, start, index)

    # is the upper part consecutive?
    consecutive_high =  L[index] == L[end] - (end - index)
    if not consecutive_high:
        yield from missing_elements(L, index, end)

In [ ]:
def missing_elements_2(L):
    
    L.sort()
    start = 0
    end = len(L)-1
    
    if end - start <= 1: 
        if L[end] - L[start] > 1:
            yield from range(L[start] + 1, L[end])
        return

    index = start + (end - start) // 2

    # is the lower half consecutive?
    consecutive_low =  L[index] == L[start] + (index - start)
    if not consecutive_low:
        yield from missing_elements(L, start, index)

    # is the upper part consecutive?
    consecutive_high =  L[index] == L[end] - (end - index)
    if not consecutive_high:
        yield from missing_elements(L, index, end)

In [ ]:
L = [10,11,13,14,15,16,17,18,20]
print(list(missing_elements_2(L,0,len(L)-1)))

In [ ]:
L = [10,11,13,14,21,16,17,18,20]
print(list(missing_elements_2(L)))